.gallery-panel{
	margin : 20px 0px 50px;
}

.contents-panel h3{
	text-align: center;
}

.contents-panel {
                 width : auto;
                margin : 10px 10px 20px 10px;
               padding : 0 5px 0;
                border : solid 1px #aaaaaa;
         border-radius : 10px;
             font-size : 10px;
             text-align: center;
    -webkit-box-shadow : 5px 5px 10px 0 rgba(0,0,0,0.3);
           -box-shadow : 5px 5px 10px 0 rgba(0,0,0,0.3);
            background : -webkit-linear-gradient(top, #ffffff 0%, #dddddd 50%, #ffffff 100%); 
            background :    -moz-linear-gradient(top, #ffffff 0%, #bbbbbb 50%, #ffffff 100%); 
            background :      -o-linear-gradient(top, #ffffff 0%, #bbbbbb 50%, #ffffff 100%); 
            background :     -ms-linear-gradient(top, #ffffff 0%, #bbbbbb 50%, #ffffff 100%); 
            background :         linear-gradient(top, #ffffff 0%, #bbbbbb 50%, #ffffff 100%); 
}

.contents-panel img{
     width : 50px;
    margin : 10px 5px 5px 10px;
}

.contents-panel .delete-folder-icon {
    width : 30px;
    height : 20px;
    margin: 20px 0 0;
}

.left-position{
    display : inline-block;
    width : 25%;
    float : left;
    font-size: 9px;
}

.left-position img{
     width : 40px;
    margin : 5px 0 0;
}

.left-position p{
    text-align: center;
    margin: 0 0 20px 0;
}

.right-position{
    display : inline-block;
    width : 75%;
    float : right;
}

.contents-panel:after{
    content: "";
    clear: both;
    display: block;
}

#folderIcon {
	width : 40px;
}

#input-folder-name {
    margin : 30px 20px 30px 0px;
    width : 50%;
}

#folderFormPanel img{
    float : left;
}

#folderFormPanel table{
    margin : 10px auto 10px;
    width : 80%;
}
    
#folderFormPanel td:nth-child(1){
    width : 20px;
    text-align: center;
}

#folderFormPanel td:nth-child(2){
    width : 30px;
    text-align: center;
}

#folderFormPanel td:nth-child(3){
    width : auto;
}

#folderFormPanel td:nth-child(4){
    width : 40px;
    text-align: center;
}

#folderFormPanel button{
    font-size : 0.7em;
    margin :  5px;
    padding : 0;
    background : -webkit-linear-gradient(top, #ffffff 0%, #bbbbbb 100%); 
    background :    -moz-linear-gradient(top, #ffffff 0%, #bbbbbb 100%); 
    background :      -o-linear-gradient(top, #ffffff 0%, #bbbbbb 100%); 
    background :     -ms-linear-gradient(top, #ffffff 0%, #bbbbbb 100%); 
    background :         linear-gradient(top, #ffffff 0%, #bbbbbb 100%); 
    border-radius         :8px 8px 8px 8px;
    -moz-border-radius    :8px 8px 8px 8px;
    -webkit-border-radius :8px 8px 8px 8px;
    -o-border-radius      :8px 8px 8px 8px;
    -ms-border-radius     :8px 8px 8px 8px;
}

#folderFormPanel button:hover {
    color : #ffffff;
    background : -webkit-linear-gradient(top, #000000 0%, #bbbbbb 100%); 
    background :    -moz-linear-gradient(top, #000000 0%, #bbbbbb 100%); 
    background :      -o-linear-gradient(top, #000000 0%, #bbbbbb 100%); 
    background :     -ms-linear-gradient(top, #000000 0%, #bbbbbb 100%); 
    background :         linear-gradient(top, #000000 0%, #bbbbbb 100%); 
    
}

#get-users-button{
    width : 100px;
    height : 40px;
    font-size : 0.7em;
    margin :  5px;
    padding : 0;
}

#folderFormPanel .alternative-button{
    content: "";
    clear: both;
    display: block;
    text-align :center;
    margin : 20px auto 40px; 
}

#folderFormPanel .alternative-first-button {
    font-size : 0.7em;
    width : 100px;
    height : 40px;
}

#folderFormPanel .alternative-last-button {
    font-size : 0.7em;
    width : 100px;
    height : 40px;
}

#users-panel table{
    margin : 30px auto 20px;
    width : 90%;
}
    
#users-panel td:nth-child(1){
    width : 20px;
    text-align: center;
}

#users-panel td:nth-child(2){
    width : auto;
    padding : 5px;
}

#users-panel td:nth-child(3){
    width : 40px;
    text-align: center;
}

#modal-panel{
    width:60%;
    margin:1.5em auto 0;
    padding:10px 5px 10px;
    border:2px solid #aaa;
    background:#fff;
    z-index:2;
    position:fixed;
}
#modal-panel .alternative-button{
    content: "";
    clear: both;
    display: block;
    text-align :center;
    margin : 20px auto 40px; 
}

#modal-panel .alternative-first-button {
    font-size : 0.9em;
    width : 90px;
    height : 30px;
    margin :  5px;
    padding : 5px;
    background : -webkit-linear-gradient(top, #ffffff 0%, #bbbbbb 100%); 
    background :    -moz-linear-gradient(top, #ffffff 0%, #bbbbbb 100%); 
    background :      -o-linear-gradient(top, #ffffff 0%, #bbbbbb 100%); 
    background :     -ms-linear-gradient(top, #ffffff 0%, #bbbbbb 100%); 
    background :         linear-gradient(top, #ffffff 0%, #bbbbbb 100%); 
    border-radius         :8px 8px 8px 8px;
    -moz-border-radius    :8px 8px 8px 8px;
    -webkit-border-radius :8px 8px 8px 8px;
    -o-border-radius      :8px 8px 8px 8px;
    -ms-border-radius     :8px 8px 8px 8px;
}

#modal-panel .alternative-last-button {
    font-size : 0.9em;
    width : 90px;
    height : 30px;
    margin :  5px;
    padding : 5px;
    background : -webkit-linear-gradient(top, #ffffff 0%, #bbbbbb 100%); 
    background :    -moz-linear-gradient(top, #ffffff 0%, #bbbbbb 100%); 
    background :      -o-linear-gradient(top, #ffffff 0%, #bbbbbb 100%); 
    background :     -ms-linear-gradient(top, #ffffff 0%, #bbbbbb 100%); 
    background :         linear-gradient(top, #ffffff 0%, #bbbbbb 100%); 
    border-radius         :8px 8px 8px 8px;
    -moz-border-radius    :8px 8px 8px 8px;
    -webkit-border-radius :8px 8px 8px 8px;
    -o-border-radius      :8px 8px 8px 8px;
    -ms-border-radius     :8px 8px 8px 8px;
}

#modal-panel button:hover {
    color : #ffffff;
    background : -webkit-linear-gradient(top, #000000 0%, #bbbbbb 100%); 
    background :    -moz-linear-gradient(top, #000000 0%, #bbbbbb 100%); 
    background :      -o-linear-gradient(top, #000000 0%, #bbbbbb 100%); 
    background :     -ms-linear-gradient(top, #000000 0%, #bbbbbb 100%); 
    background :         linear-gradient(top, #000000 0%, #bbbbbb 100%); 
    
}

#modal-overlay{
    z-index:1;
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:120%;
    background-color:rgba(0,0,0,0.75);
}
.user-icon {
    width : 50px;
    height : 50px;
}

.selectedContents{
    border : solid 3px #ff0000;
}

#contentsPanel{
    margin : 20px auto 20px;
    text-align : center;
}

#contentsPanel img{
    width : 80%;
    margin : 20px auto 20px;
}

#contentsPanel video{
    width : 80%;
    margin : 20px auto 20px;
}

#detailPanel .alternative-button{
    content: "";
    clear: both;
    display: block;
    text-align :center;
    margin : 20px auto 40px; 
}

#detailPanel .alternative-first-button {
    font-size : 0.9em;
    width : 100px;
    height : 40px;
    margin :  5px;
    padding : 5px;
    background : -webkit-linear-gradient(top, #ffffff 0%, #bbbbbb 100%); 
    background :    -moz-linear-gradient(top, #ffffff 0%, #bbbbbb 100%); 
    background :      -o-linear-gradient(top, #ffffff 0%, #bbbbbb 100%); 
    background :     -ms-linear-gradient(top, #ffffff 0%, #bbbbbb 100%); 
    background :         linear-gradient(top, #ffffff 0%, #bbbbbb 100%); 
    border-radius         :8px 8px 8px 8px;
    -moz-border-radius    :8px 8px 8px 8px;
    -webkit-border-radius :8px 8px 8px 8px;
    -o-border-radius      :8px 8px 8px 8px;
    -ms-border-radius     :8px 8px 8px 8px;
}

#detailPanel .alternative-last-button {
    font-size : 0.9em;
    width : 100px;
    height : 40px;
    margin :  5px;
    padding : 5px;
    background : -webkit-linear-gradient(top, #ffffff 0%, #bbbbbb 100%); 
    background :    -moz-linear-gradient(top, #ffffff 0%, #bbbbbb 100%); 
    background :      -o-linear-gradient(top, #ffffff 0%, #bbbbbb 100%); 
    background :     -ms-linear-gradient(top, #ffffff 0%, #bbbbbb 100%); 
    background :         linear-gradient(top, #ffffff 0%, #bbbbbb 100%); 
    border-radius         :8px 8px 8px 8px;
    -moz-border-radius    :8px 8px 8px 8px;
    -webkit-border-radius :8px 8px 8px 8px;
    -o-border-radius      :8px 8px 8px 8px;
    -ms-border-radius     :8px 8px 8px 8px;
}

#detailPanel button:hover {
    color : #ffffff;
    background : -webkit-linear-gradient(top, #000000 0%, #bbbbbb 100%); 
    background :    -moz-linear-gradient(top, #000000 0%, #bbbbbb 100%); 
    background :      -o-linear-gradient(top, #000000 0%, #bbbbbb 100%); 
    background :     -ms-linear-gradient(top, #000000 0%, #bbbbbb 100%); 
    background :         linear-gradient(top, #000000 0%, #bbbbbb 100%); 
}

.activate {
}

#file-upload-input{
    display : none;
}

#file-upload-button{
    width : 40px;
    margin: 20px 10px 5px;
}

.file-upload-button-image{
	width : 60px;
	margin: 0 10px 0;
}

.progress-bar{
	text-align : center;
	font-size : 9px;
	width: 0%;
    margin: 0 10px 0;
    height : 10px;
    background : green;
}

.playerPanel {
	margin : 50px auto 50px;
}

#video_player {
    display: table;
    line-height: 0;
    font-size: 0;
    background: #000;
    margin : 0;
}

#video_player video,
    #video_player figcaption {
        display: table-cell;
        vertical-align: top;
}
#video_player figcaption {
    width: 25%;
}
#video_player figcaption a {
    display: block;
    opacity: .5;
    transition: 1s opacity;
}
#video_player figcaption a img,
    figure video {
        width: 100%;
        height: auto;
}

#video_player figcaption a:hover {
    opacity: 1;
}

@media (max-width: 700px) {
    #video_player video,
        #video_player figcaption {
            display: table-row;
        }
    #video_player figcaption a {
       display: inline-block;
       width: 33.33%;
    }
}