form{
    display: inline;
}

.panel {
    font-size: 10px;
    margin: 0 10px 50px;
}

.panel p {
    margin :  20px auto 20px;
}

.formPanel tr{
    width : auto;
}

.formPanel table tr td{
    border : none;
    margin : 0 auto 0;
    padding : 5px;
}

.panel table{
    width : 100%;
    margin : 30px auto 30px;
}

.formPanel td:first-child{
    text-align : right;
}

.users-table td:nth-child(1){
    text-align: center;
    width : 20px;
}

.users-table td:nth-child(2){
    text-align: center;
    width : 70px;
}

.users-table td:nth-child(3){
    width : auto;
}

.users-table td:nth-child(4){
    text-align: center;
    width : 70px;
}

.users-table td:nth-child(5){
    text-align: center;
    width : 30px;
}

.formPanel .alternative-button{
    display: block;
    text-align :center;
    margin : 20px auto 40px; 
}

.formPanel .alternative-first-button {
    font-size : 1.1em;
    width : 130px;
    height : 40px;
}

.formPanel .alternative-last-button {
    font-size : 1.1em;
    width : 130px;
    height : 40px;
}

.formPanel button{
    width : 60px;
    height : 30px;
    font-size : 0.8em;
    margin :  5px;
    padding : 5px;
    background : -webkit-linear-gradient(top, #ffffff 0%, #bbbbbb 100%); 
    background :    -moz-linear-gradient(top, #ffffff 0%, #bbbbbb 100%); 
    background :      -o-linear-gradient(top, #ffffff 0%, #bbbbbb 100%); 
    background :     -ms-linear-gradient(top, #ffffff 0%, #bbbbbb 100%); 
    background :         linear-gradient(top, #ffffff 0%, #bbbbbb 100%); 
    border-radius         :8px 8px 8px 8px;
    -moz-border-radius    :8px 8px 8px 8px;
    -webkit-border-radius :8px 8px 8px 8px;
    -o-border-radius      :8px 8px 8px 8px;
    -ms-border-radius     :8px 8px 8px 8px;
}

.formPanel button:hover {
    color : #ffffff;
    background : -webkit-linear-gradient(top, #000000 0%, #bbbbbb 100%); 
    background :    -moz-linear-gradient(top, #000000 0%, #bbbbbb 100%); 
    background :      -o-linear-gradient(top, #000000 0%, #bbbbbb 100%); 
    background :     -ms-linear-gradient(top, #000000 0%, #bbbbbb 100%); 
    background :         linear-gradient(top, #000000 0%, #bbbbbb 100%); 
    
}

.formPanel .main-button {
    display: block;
    margin : 20px auto 20px;
    font-size : 1.1em;
    width : 130px;
    height : 40px;
}

.imgPanel img{
    width : 300px;
}
