.panel {
    font-size: 10px;
    margin: 0 10px 50px;
}

.panel table {
     width : 100%;
}

.panel p {
    margin :  20px auto 20px;
}

.panel td{
     width : auto;
    margin : 0 auto 0;
    padding : 5px;
}

.panel td:nth-child(1){
    width : 110px;
    text-align : right;
}

.panel th:nth-child(2){
    width : auto;
}

.userTable td:nth-child(1){
    width : 50px;
    text-align : center;
}

.userTable th:nth-child(2){
    width : 80px;
    text-align : center;
}

.userTable th:nth-child(3){
    width : auto;
}

.panel .alternative-button{
    display: block;
    text-align :center;
    margin : 20px auto 40px; 
}

.panel .alternative-first-button {
    font-size : 1.0em;
    width : 130px;
    height : 40px;
}

.panel .alternative-last-button {
    font-size : 1.0em;
    width : 130px;
    height : 40px;
}

.panel button{
    font-size : 0.8em;
    margin :  5px;
    padding : 5px;
    background : -webkit-linear-gradient(top, #ffffff 0%, #bbbbbb 100%); 
    background :    -moz-linear-gradient(top, #ffffff 0%, #bbbbbb 100%); 
    background :      -o-linear-gradient(top, #ffffff 0%, #bbbbbb 100%); 
    background :     -ms-linear-gradient(top, #ffffff 0%, #bbbbbb 100%); 
    background :         linear-gradient(top, #ffffff 0%, #bbbbbb 100%); 
    border-radius         :8px 8px 8px 8px;
    -moz-border-radius    :8px 8px 8px 8px;
    -webkit-border-radius :8px 8px 8px 8px;
    -o-border-radius      :8px 8px 8px 8px;
    -ms-border-radius     :8px 8px 8px 8px;
}

.panel button:hover {
    color : #ffffff;
    background : -webkit-linear-gradient(top, #000000 0%, #bbbbbb 100%); 
    background :    -moz-linear-gradient(top, #000000 0%, #bbbbbb 100%); 
    background :      -o-linear-gradient(top, #000000 0%, #bbbbbb 100%); 
    background :     -ms-linear-gradient(top, #000000 0%, #bbbbbb 100%); 
    background :         linear-gradient(top, #000000 0%, #bbbbbb 100%); 
}
