.panel table {
     width : 700px;
}

.panel td{
     width : auto;
    margin : 0 auto 0;
    padding : 5px 20px 5px;
}

.panel td:nth-child(1){
    width : 180px;
    text-align : right;
}

.messageBodyPanel {
    width : 650px;
    margin :  5px auto 5px;
    padding : 25px;
    display: block;
    background : #ffffff; 
    border-radius         :2px 2px 2px 2px;
    -moz-border-radius    :2px 2px 2px 2px;
    -webkit-border-radius :2px 2px 2px 2px;
    -o-border-radius      :2px 2px 2px 2px;
    -ms-border-radius     :2px 2px 2px 2px;
}

.panel .alternative-button{
    display: block;
    text-align :center;
    margin : 20px auto 40px; 
}

.panel .alternative-first-button {
    font-size : 1.2em;
    width : 250px;
    height : 60px;
}

.panel .alternative-last-button {
    font-size : 1.2em;
    width : 250px;
    height : 60px;
}

.panel button{
    font-size : 0.8em;
    margin :  5px 10px 5px;
    padding : 5px 25px 5px;
    background : -webkit-linear-gradient(top, #ffffff 0%, #bbbbbb 100%); 
    background :    -moz-linear-gradient(top, #ffffff 0%, #bbbbbb 100%); 
    background :      -o-linear-gradient(top, #ffffff 0%, #bbbbbb 100%); 
    background :     -ms-linear-gradient(top, #ffffff 0%, #bbbbbb 100%); 
    background :         linear-gradient(top, #ffffff 0%, #bbbbbb 100%); 
    border-radius         :8px 8px 8px 8px;
    -moz-border-radius    :8px 8px 8px 8px;
    -webkit-border-radius :8px 8px 8px 8px;
    -o-border-radius      :8px 8px 8px 8px;
    -ms-border-radius     :8px 8px 8px 8px;
}

.panel button:hover {
    color : #ffffff;
    background : -webkit-linear-gradient(top, #000000 0%, #bbbbbb 100%); 
    background :    -moz-linear-gradient(top, #000000 0%, #bbbbbb 100%); 
    background :      -o-linear-gradient(top, #000000 0%, #bbbbbb 100%); 
    background :     -ms-linear-gradient(top, #000000 0%, #bbbbbb 100%); 
    background :         linear-gradient(top, #000000 0%, #bbbbbb 100%); 
    
}